/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

.content {
  background-color: #2b2b2b;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 170, 255, 0.5);
  padding: 20px;
  text-align: center;
}

h1 {
  color: #00aaff;
  text-align: center;
  margin-bottom: 20px;
}

form {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  display: block;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #00aaff;
}

select, input[type="text"], input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #f0f0f0;
  box-shadow: inset 0 0 5px rgba(0, 170, 255, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
}

select:focus, input[type="text"]:focus, input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 10px #00aaff;
}

.button-group {
  display: block;
  margin-top: 10px;
}

button {
  background-color: #005f99;
  color: #f0f0f0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  background-color: #004477;
  box-shadow: 0 0 10px rgba(0, 119, 204, 0.7);
}

button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.prev-btn {
  background-color: #005f99;
}

.prev-btn:hover {
  background-color: #004477;
}

.hidden {
  display: none;
}
