$bg-color: #023876;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #FFF;
}

html,
body {
    width: 100svw;
    height: 100svh;
    background-color: $bg-color;
}

h1 {
    position: absolute;
    left: 50%;
    translate: -50%;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    text-decoration: underline;
}

form {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-group {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        width: 400px;
        height: 250px;

        border: 1px solid #FFF;
        border-radius: 12px;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        label {
            font-size: 1.3rem;
            font-weight: 100;
            color: #FFF;
        }
        select {
            padding: 10px;
            background-color: #FCFCFC;
            color: #000;
            border: none;
            border-radius: 12px;
            cursor: pointer;
            outline: none;

            option {
                color: #000;
            }
        }
        input {
            padding: 10px;
            color: #000;
            border: none;
            border-radius: 12px;
            outline: none;
        }
        button {
            position: absolute;
            bottom: 5%;

            padding: 5px;
            border: none;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
        }
        .prev-btn {
            left: 3%;
            background-color: #FF0000;
            color: #FFF;
        }
        .next-btn,
        .submit-btn {
            right: 3%;
            background-color: #00ff00;
            color: #000;
        }
    }
}